/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
#navbar.scrolled {
  background-color: white !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, box-shadow 0.3s;
}
header .logo a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 600;
}
nav {
  display: flex;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 400;
}
nav .links {
  display: flex;
  gap: 20px;
}
.landing {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}
.hero-left {
  width: 50%;
  min-width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.hero-left img {
  width: 100%;
  height: 100%;
}
.hero-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing .hero-right h1 {
  width: 550px;
  font-size: 82px;
  color: #232323;
  font-weight: 700;
  margin-bottom: 25px;
}
.landing .right-button button {
  padding: 7px 25px 7px 28px;
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  border: 1.6px;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;
  margin-left: auto;
}
.hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background: black;
  margin: 5px 0;
  border-radius: 2px;
  transition: 0.3s;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #f8f9f8;
}
.services-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-top: 50px;
  align-items: center;
  font-size: 1.2rem;
}
.service i {
  font-size: 3rem;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  width: 250px;
}
.service p {
  font-size: 1.2rem;
  color: #232323;
  width: 200px;
  text-align: center;
}
.title {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  text-align: center;
  padding: 20px;
}
.title p {
  font-size: 1.2rem;
  color: #716f6f;
}
.divider {
  width: 20%;
  align-self: center;
  height: 1px;
  border: 1px solid #ccc;
  margin: 20px 0;
}

  .features {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .features-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
  }
  .features-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
  }
  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .features-right {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .features-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .title-white {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  padding: 20px;
}
.title-white p {
  font-size: 1.2rem;
  color: #716f6f;
}
.facts{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.facts-container {
  display: grid;
  grid-template-areas:
   "column1 column2 column3 column4";
   grid-template-columns: repeat(4, 1fr);
}
.facts-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  align-items: center;
  color: white;
  gap: 30px;
  padding: 20px;
}
@media (max-width: 1170px) {
  nav {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .landing {
    flex-direction: column;
    height: 100vh;
  }
  .hero-left {
    width: 100%;
    height: 50vh;
  }
  header {
    z-index: 5;
  }
  .hero-right {
    width: 400px;
    height: 50vh;
    margin: 20px;
    padding: 20px;
  }
  .landing .hero-right h1 {
    font-size: 4rem;
  }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #f8f9f8;
  }
  
  .features {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .features-container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
  }
  .features-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
  }
  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .features-right {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .features-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 900px) {
  .hero-right {
    width: 400px;
    height: auto;
    margin: 20px;
    padding: 20px;
  }
  .hero-left {
    width: 100vw;
    height: 50vh;
  }
  .landing .hero-right h1 {
    font-size: 4rem;
  }
  .services {
    font-size: 1.3rem;
    flex-wrap: wrap;
    width: 100vw;
  }
}
@media (max-width: 875px) {
  .service {
    width: 200px;
  }
  .services-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .landing .hero-right h1 {
    font-size: 3rem;
  }
  .facts-container {
  display: grid;
  grid-template-areas:
   "column1 column2";
   grid-template-columns: repeat(2, 1fr);
}
.facts-card{
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  color: white;
  gap: 30px;
  padding: 20px;
}
}
@media (max-width: 600px) {
  .hero-right {
    width: 400px;
    height: auto;
    margin: 20px;
    padding: 20px;
  }
  .hero-left {
    width: 100vw;
    height: 50vh;
  }
  .landing .hero-right h1 {
    font-size: 4rem;
  }
}
